.searchBar {
  border: 0;
  line-height: 2.5;
  padding: 5px 20px;
  font-size: 18px;
  background-color: rgba(#fff, 0.5);
  color: #3a3a3a;
  border-radius: 4px;
  width: 100%;
  max-width: 340px;
  text-align: center;
}
